apiVersion: apps/v1
kind: StatefulSet
metadata:
    name: database
    labels:
        app: database
spec:
    serviceName: 'database'
    replicas: 1
    selector:
        matchLabels:
            app: database
    template:
        metadata:
            labels:
                app: database
        spec:
            containers:
                - name: database
                  image: mysql:8.0
                  env:
                      - name: MYSQL_ROOT_PASSWORD
                        valueFrom:
                            secretKeyRef:
                                name: app-secrets
                                key: MYSQL_ROOT_PASSWORD
                      - name: MYSQL_DATABASE
                        valueFrom:
                            secretKeyRef:
                                name: app-secrets
                                key: MYSQL_DATABASE
                      - name: MYSQL_USER
                        valueFrom:
                            secretKeyRef:
                                name: app-secrets
                                key: MYSQL_USER
                      - name: MYSQL_PASSWORD
                        valueFrom:
                            secretKeyRef:
                                name: app-secrets
                                key: MYSQL_PASSWORD
                  ports:
                      - containerPort: 3306
                        name: mysql
                  volumeMounts:
                      - name: mysql-persistent-storage
                        mountPath: /var/lib/mysql
    volumeClaimTemplates:
        - metadata:
              name: mysql-persistent-storage
          spec:
              accessModes: ['ReadWriteOnce']
              resources:
                  requests:
                      storage: 10Gi
