apiVersion: apps/v1
kind: DaemonSet
metadata:
    name: fluentd
    namespace: kube-system
    labels:
        k8s-app: fluentd-logging
        version: v1
        kubernetes.io/cluster-service: 'true'
spec:
    selector:
        matchLabels:
            k8s-app: fluentd-logging
    template:
        metadata:
            labels:
                k8s-app: fluentd-logging
                version: v1
                kubernetes.io/cluster-service: 'true'
        spec:
            tolerations:
                - key: node-role.kubernetes.io/master
                  effect: NoSchedule
            containers:
                - name: fluentd
                  image: fluent/fluentd-kubernetes-daemonset:v1-debian-amd64
                  env:
                      - name: FLUENTD_ARGS
                        value: --config /etc/fluentd-config/fluentd.conf
                  resources:
                      limits:
                          memory: 200Mi
                      requests:
                          cpu: 100m
                          memory: 200Mi
                  volumeMounts:
                      - name: varlog
                        mountPath: /var/log
                      - name: varlibdockercontainers
                        mountPath: /var/lib/docker/containers
                        readOnly: true
                      - name: fluentd-config
                        mountPath: /etc/fluentd-config
            terminationGracePeriodSeconds: 30
            volumes:
                - name: varlog
                  hostPath:
                      path: /var/log
                - name: varlibdockercontainers
                  hostPath:
                      path: /var/lib/docker/containers
                - name: fluentd-config
                  configMap:
                      name: fluentd-config
---
apiVersion: v1
kind: ConfigMap
metadata:
    name: fluentd-config
    namespace: kube-system
data:
    fluentd.conf: |
        <source>
          @type tail
          path /var/log/containers/*.log
          pos_file /var/log/fluentd-containers.log.pos
          tag kubernetes.*
          format json
          read_from_head true
        </source>

        <match kubernetes.**>
          @type stdout
        </match>
