apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: lendsmart-app-role
  namespace: default
rules:
  - apiGroups: [""]
    resources: ["pods", "services", "endpoints"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["configmaps"]
    verbs: ["get", "list"]
